@charset "utf-8";
/* 懒人之家 */
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, form, select, fieldset, table, img, td, div, input { margin: 0; padding: 0; font-size: 12px; font-weight: normal; }
body>div, form>div { margin: 0 auto; }
div { text-align: left; }
a img { border: 0; }
body { color: #666666; text-align: center; font: 12px Arial, "宋体"; }
ul, ol, li { list-style-type: none; }
a { outline-style: none; color: #666666; text-decoration: none; }
a:hover { color: #0b488c; }
a, area { blr:expression(this.onFocus=this.blur())
}
:focus { -moz-outline-style: none; }
.clear { clear: both; }
.hidden { display: none; }
.block { display: block; }
.left { float: left; }
.right { float: right; }
.m2yw_right { width: 659px; margin: 20px auto; }
.m2yw_tab { background: url(../images/m2line.jpg) repeat-x scroll left bottom transparent; height: 28px; }
.m2yw_tab ul li { background: url(../images/m2_hover2.jpg) no-repeat scroll 0 0 transparent; cursor: pointer; float: left; height: 28px; line-height: 28px; margin-right: 5px; text-align: center; width: 85px; }
.m2yw_tab ul .m2yw_cutli { background: url(../images/m2_hover1.jpg) no-repeat scroll 0 0 transparent; color: #05589C; font-weight: bold; }
.m2yw_pic { border-bottom: 1px solid #DEDCDD; border-left: 1px solid #DEDCDD; border-right: 1px solid #DEDCDD; height: 157px; padding-top: 30px; }
.m2yw_btnl { cursor: pointer; float: left; height: 114px; margin: 0 15px; padding-top: 3px; width: 16px; }
.m2yw_piclist { float: left; height: 150px; overflow: hidden; position: relative; width: 579px; }
.m2yw_btnr { cursor: pointer; float: left; padding-top: 3px; }
.m2yw_posul { left: 0; position: absolute; top: 0; }
.m2yw_piclist ul li { background: url(../images/m2libg.jpg) no-repeat scroll center top transparent; float: left; height: 150px; margin-right: 18px; padding: 1px 1px 0; text-align: center; width: 173px; }
.m2yw_piclist ul li img { display: block; margin-bottom: 8px; background: #F93; height: 116px; width: 173px; line-height: 116px; color: #FFF; }

