ul.tabs {
	margin: 0px !important; padding: 0px; width: 691px; height: 30px; border-bottom-color: rgb(255, 92, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
ul.tabs li {
	margin: 0px; padding: 0px; float: left; list-style-type: none;
}
ul.tabs a {
	background: rgb(238, 238, 238); border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) currentColor; padding: 8px 0px 2px; outline: 0px; border-image: none; top: 1px; width: 225px; height: 18px; text-align: center; color: rgb(51, 51, 51); font-size: 14px; text-decoration: none; margin-right: 5px; float: left; display: block; position: relative; cursor: pointer;
}
ul.tabs a:hover {
	background: rgb(249, 249, 249); color: rgb(0, 0, 0);
}
ul.tabs a.current {
	background: rgb(255, 255, 255); border-width: 4px 1px 1px; border-style: solid; border-color: rgb(255, 92, 0) rgb(255, 92, 0) rgb(255, 255, 255); padding: 5px 0px 2px; border-image: none; color: rgb(0, 0, 0); font-weight: bold; cursor: default;
}
.panes {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); padding: 20px 15px 10px; border-image: none; width: 659px;
}
.panes .panediv {
	display: none;
}
